:root{
    --font-family:"Arial", "Helvetica", "sans-serif";
}
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

/*HEADER*/
.header {
    overflow: hidden;
    background-color: #000000;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-family: var(--font-family);
  }
  
  .header a.logo img{
    width: 140px;
    max-width: 100%

   
  }
  
  .header-right a:hover {
    background-color: rgba(209, 201, 201, 0.397);
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  
/*BANNER*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner.jpg");

  height: 50vh;
  width: 100%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family:var(--font-family)
}
.banner-logo{
    display: block;
    font-weight:bolder;
    font-size: 1.3em;
    font-family:var(--font-family)
}

