{% extends "base.html" %}
{% block content %}
      <div class="hero-image">
        <div class="hero-text">
          <h1><span class="banner-logo">STOCKY</span> <smaller>Stock Prediction Made Easy</smaller></h1>
        
        </div>
      </div>
      <!--end header-->
      
      <div>

      </div>
<section class="card_components">
      <!--CARD COMPONENT 1-->
      <div class="container1 one">
        <div class="image-container">
            <img class="image" src="https://images.unsplash.com/photo-1603899122634-f086ca5f5ddd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9ja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60">
        </div>
            <div class="cardDetails">
                
       
                <div class="name">Privacy Policy</div>
        
                    <p class="text-desc">We are  STOCKY. ("STOCKY," "we" or "us"). We respect your privacy and work hard to protect the confidentiality 
                      of information that you give us. We will share your personal data
                       with third parties only in the event that it’s needed for the provision of services and data you have requested</p>

                </div>
            </div>    
    </div>

       <!--CARD COMPONENT 2-->
       <div class="container1 two">
        <div class="image-container">
            <img class="image" src="https://images.pexels.com/photos/7947707/pexels-photo-7947707.jpeg?auto=compress&cs=tinysrgb&w=600">
        </div>
            <div class="cardDetails">
                
       
                <div class="name">Third Part Data</div>
        
                    <p class="text-desc">The app integrates real-time data from Yahoo Finance to provide users with the 
                      most accurate and up-to-date information on the stock market. In addition to analyzing tweets, 
                      the app also takes into account factors such as financial statements, news articles, and analyst reports to make its predictions</p>

         
                </div>
    </div>    
    </div>



     <!--CARD COMPONENT 3-->
     <div class="container1 three">
      <div class="image-container">
          <img class="image" src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YWNjZXNzaWJpbGl0eXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60">
      </div>
          <div class="cardDetails">
              
     
              <div class="name">Easy To Use</div>
      
                  <p class="text-desc">The user-friendly interface presents 
                    the sentiment analysis in a simple, easy-to-understand format, empowering users to make informed investment decisions with just a few clicks.</p>

              </div>
  </div>    
  </div>
</section>
{% endblock %}

