{% extends "base.html" %}
{% block content %}

<div class="searcht">
    <form id ="search-form" class="search_barticker" autocomplete="off" >
        <input id="search-boxt" type="text" placeholder="enter company tag" name="que">
          
        <button type="submit" value="search"><img src="{{url_for('static',filename='search.png')}}"></button>
      </form>
      <table id="results" size="5" style="display: none;"></table> 
    

   
    <script>
    $(function() {
        $('#search-boxt').keyup(function() {
            var query = $('#search-boxt').val();
            if (query.length >= 2) {
                $.getJSON('/search', {query: query}, function(data) {
                    var results = '<table>';
                    $.each(data, function(index, result) {
                        results += '<tr><td>' + result.symbol + '</td><td>' + result.name + '</td></tr>';
                    });
                    results += '</table>';
                    $('#results').html(results);
                    $('#results').show();
                });
            } else {
                $('#results').hide();
            }
        });
      
        $('#search-boxt').focusout(function() {
            $('#results').hide();
        });
    });</script>
    
</div>
    

{% endblock %}    